################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Jordan/.vs/Project2/v15/Browse.VC.opendb
/Jordan/.vs
/.vs/Project2/v15
/Debug/
/Project2/Debug